$border-color: #999;
$border-color-light: lighten($border-color, 25%);
$input-height: 32px;
$border-radius: 4px;
$grey: #eee;
.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}