$border-color: #999;
$border-color-light: lighten($border-color, 25%);
$input-height: 32px;
$border-radius: 4px;
$grey: #eee;
$blue: #4a90e2;
$color: #333;
$light-color: #666;
$font-size: 14px;
$small-font-size: 12px;
.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@mixin loading {
    animation: spin 2s infinite linear;
}